<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" />
</head>
<body ng-app="myApp">
<div class="container" ng-controller="AppController">
  <div class="page-header">
    <h1>Exams</h1>
  </div>
  <div class="alert alert-info" role="alert" ng-hide="exams &amp;&amp; exams.length > 0">
    There are no exams yet.
  </div>
  <form class="form-horizontal" role="form" ng-submit="addExam(name,description)">
    <div class="form-group" ng-repeat="exam in exams">
      <div class="checkbox col-xs-9">
        <label>
          <input type="checkbox" ng-model="exam.checked" ng-change="updateExam(exam)"/> {{item.name}}
        </label>
      </div>
      <div class="col-xs-3">
        <button class="pull-right btn btn-danger" type="button" title="Delete"
                ng-click="deleteExam(exam)">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </div>
    </div>
    <hr />
    <div class="input-group">
      <input type="text" class="form-control" ng-model="name" placeholder="Enter the name..." />
      <input type="text" class="form-control" ng-model="description" placeholder="Enter the description..." />
      <span class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-disabled="!newExam" title="Add">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </span>
    </div>
  </form>
</div>
<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="./bower_components/lodash/dist/lodash.min.js"></script>
<script src="js/angular-bootstrap.js" type="text/javascript"></script>
<script type="text/javascript" src="./app/app.js"></script>
<script type="text/javascript" src="./app/controllers.js"></script>
<script type="text/javascript" src="./app/services.js"></script>
</body>
</html>